:host{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

mat-card-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-icon.avatar{
    overflow: hidden;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 12px;
}

mat-grid-tile.choosedAvatar{
    border: 1px dashed deepskyblue;
}