<form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)" novalidate>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width">
        <mat-label>User name</mat-label>
        <input matInput type="text" formControlName="username">
      </mat-form-field>

      <ng-container formGroupName="passwordGroup">
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password">

          <ng-container *ngIf="password.touched && password.invalid">
            <mat-error *ngIf="password.hasError('required')">
              Password is required
            </mat-error>
            <mat-error *ngIf="password.hasError('minlength')">
                Password should minimun {{password.getError('minlength').requiredLength}}
            </mat-error>
            <mat-error *ngIf="password.hasError('passwordInvalid')">
              Password must contain at least one number and at least one lowercase letter
            </mat-error>
          </ng-container>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirmpassword" [errorStateMatcher]="mismatchMatcher">
          <mat-error *ngIf="passwordGroup.hasError('mismatch')">
              Password is mismatch
          </mat-error>
        </mat-form-field>
      </ng-container>
    </mat-card-content>

    <mat-card-actions [align]="'end'">
      <button mat-flat-button [disabled]="registerForm.invalid">Register</button>
    </mat-card-actions>

    <mat-card-footer>
      <a [routerLink]="['/login']">Login</a>
    </mat-card-footer>
  </mat-card>
</form>