mat-card-title{
    display: flex;
}

.add-comment-container{
    text-align: right;
}

::ng-deep .user-selecter .mat-form-field-underline {
    display: none;
}
::ng-deep .user-selecter .mat-form-field-wrapper {
    padding-bottom: 0;
}

.comment-header{
    display: flex;
    margin-top: 10px;
    margin-bottom: 5px;
}